body {
  background-image: url(../image/6298353.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Manrope;
}

#searchForm {
  padding-top: 60px;
  margin: 20px 20px;
  padding-left: 60px;
  background: transparent;
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#searchForm input {
  margin-top: 64px;
  width: 70%;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 5px;
  padding: 8px 8px;
  outline: none;
  font-size: 20px;
  padding-left: 32px;
}

#searchForm input::placeholder {
  font-size: 20px;
  font-family: Arial, sans-serif;
  border: transparent;
  border-radius: 10px;
  color: whitesmoke;
}

.search-bar {
  max-width: 320px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  border-radius: 20px;
  padding: 10px 20px;
}

.btn-outline-secondary {
  display: inline-block;
  position: relative;
  padding: 12px;
  left: -96px;
  border: none;
  background: #dbecf4;
  margin-right: 10px;
  margin-top: 65px;
}

.location-button {
  display: inline-block;
  margin-top: -13px;
  margin-left: 550px;
  border: none;
  color: #dbecf4;
  padding: 13px 16px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #dbecf4;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .main-wrapper {
  height: 75vh;
  width: 130%;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  padding-bottom: 30px;
}

.row {
  top: -90px;
  display: flex;
  box-sizing: border-box;
  margin: 20px 20px;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 80%;
  border: saddlebrown;
}

.current-wrapper-col {
  top: 60px;
  position: relative;
  left: 10%;
  height: 330px;
  width: 550px;
  background: whitesmoke rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-right: 1px solid rgba (255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
}

#current-icon {
  position: relative;
  top: 90px;
}

.Temp-info-box .temp-info {
  width: 250px;
  height: 120px;
  background: rgba(255, 255, 255, 0.2);
  margin-top: -120px;
  margin-left: -45px;
  display: flex;
  justify-content: space-between;
  gap: 3px;
  padding: 30px 30px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.todays-info-box .date-time {
  width: 250px;
  height: 120px;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 30px;
  margin-left: 230px;
  display: flex;
  justify-content: space-between;
  gap: 3px;
  padding: 30px 30px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.date-time {
  margin-top: -60px;
  margin-left: -50px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  line-height: 5px;
  font-size: 15px;
  text-align: center;
  color: black;
  font-weight: bolder;
}

.todays-info {
  margin-right: 5px;
}

.Temp-info-box {
  margin-left: 5px;
}

h1 {
  text-align: center;
  margin-top: -280px;
  font-size: 30px;
  color: #dbecf4;
  font-family: "Manrope", sans-serif;
  font-weight: bolder;
}

h2 {
  position: absolute;
  margin-top: -200px;
  margin-left: 355px;
  font-size: 80px;
  font-weight: bolder;
  color: #eafc88;
  font-family: "Manrope", sans-serif;
}

h3 {
  margin-top: 220px;
  margin-left: 70px;
  font-size: 20px;
  font-weight: bolder;
  color: #dbecf4;
}

h4 {
  margin-top: -70px;
  margin-left: 90px;
  font-size: 20px;
}

.btn-celsius {
  width: 50px;
  height: 40px;
  background: #dbecf4;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  display: inline-block;
  float: right;
  margin-right: 110px;
  margin-top: -110px;
}

.btn-fahrenheit {
  width: 50px;
  height: 40px;
  background: #dbecf4;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  display: inline-block;
  float: right;
  margin-right: 50px;
  margin-top: -110px;
}

.btn-celsius.active,
.btn-fahrenheit.active {
  background-color: #eafc88;
  color: #000000;
}

.temp-info {
  margin-top: -190px;
  margin-left: -50px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  line-height: 20px;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  color: black;
}

.daily-wrapper-col {
  top: -380px;
  left: 690px;
  width: 500px;
  height: 590px;
  position: relative;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 25px 45px rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba (255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  z-index: 10;
  padding: 30px;
  backdrop-filter: blur 10px;
  display: flex;
  flex-direction: column;
}

.daily-wrapper-col .list {
  position: relative;
  display: flex;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  flex: 1;
  margin-top: 4px;
}

.daily-wrapper-col .list:hover {
  background: radial-gradient(
    circle at -2.2% -3.8%,
    rgba(255, 227, 2, 0.41) 0%,
    rgb(59, 188, 241) 100.2%
  );
  background: radial-gradient(
    circle at 10% 20%,
    rgb(87, 108, 117) 0%,
    rgb(37, 50, 55) 100.2%
  );
  box-shadow: -15px 30px 50px rgba(255, 255, 255, 0.5);
}

.weather-icons {
  margin-left: 340px;
}

.content {
  line-height: 10px;
  margin-top: 70px;
  margin-left: -390px;
}

.date {
  margin-left: 2px;
  font-size: 22px;
  font-weight: bolder;
  color: #039995;
}

p {
  color: black;
  font-weight: bolder;
  font-size: 18px;
}

a {
  color: #039995;
}

.coder {
  color: #eafc88;
}

footer {
  text-align: center;
  margin-top: -230px;
  position: fixed;
  bottom: 0;
  width: 100%;
}


/* For desktop screens */
@media (min-width: 1205px) {
  #searchForm {
    padding-top: 60px;
    margin: 20px 20px;
    padding-left: 60px;
    width: 50%;
  }

  #searchForm input {
    margin-top: 64px;
    width: 70%;
  }

  .btn-outline-secondary {
    margin-top: 65px;
  }

  .location-button {
    margin-top: -13px;
    margin-left: 550px;
  }

  .container .main-wrapper {
    width: 130%;
  }

  .current-wrapper-col {
    left: 10%;
    height: 330px;
    width: 550px;
  }

  .Temp-info-box .temp-info {
    margin-top: -120px;
    margin-left: -45px;
    width: 250px;
    height: 120px;
  }

  .todays-info-box .date-time {
    margin-top: 30px;
    margin-left: 230px;
    width: 250px;
    height: 120px;
  }

  .date-time {
    margin-top: -60px;
    margin-left: -50px;
  }
}

/* For tablet/ipad screens */
@media screen and (min-width: 481px) and (max-width: 1024px)  {
  #searchForm {
    padding-top: 60px;
    margin: 20px 20px;
    padding-left: 60px;
    width: 70%;
  }

  #searchForm input {
    margin-top: 64px;
    width: 60%;
  }

  .btn-outline-secondary {
    margin-top: 65px;
  }

  .location-button {
    margin-top: -13px;
    margin-left: 450px;
  }

  .container .main-wrapper {
    width: 130%;
  }

  .current-wrapper-col {
    left: 10%;
    height: 330px;
    width: 500px;
  }

  .Temp-info-box .temp-info {
    margin-top: -120px;
    margin-left: -45px;
    width: 250px;
    height: 120px;
  }

  .todays-info-box .date-time {
    margin-top: 30px;
    margin-left: 210px;
    width: 250px;
    height: 120px;
  }

  .date-time {
    margin-top: -60px;
    margin-left: -50px;
  }
}

/* For phone screens */
@media screen and (max-width: 480px)  {
  #searchForm {
    padding-top: 20px;
    margin: 20px 20px;
    padding-left: 20px;
    width: 100%;
  }

  #searchForm input {
    margin-top: 20px;
    width: 70%;
    font-size: 16px;
  }

  .btn-outline-secondary {
    margin-top: 20px;
  }

  .location-button {
    margin-top: -13px;
    margin-left: 240px;
    font-size: 14px;
    padding: 8px 10px;
  }

  .container .main-wrapper {
    width: 100%;
  }

  .current-wrapper-col {
    left: 0%;
    height: 330px;
    width: 100%;
  }

  .Temp-info-box .temp-info {
   



// This query targets smartphones in portrait orientation.
}@media (max-width: 767px) {

}


// This query targets smartphones in landscape orientation and small tablets.
@media (min-width: 768px) and (max-width: 991px) {



}

// This query targets larger tablets and small laptops.
@media (min-width: 992px) and (max-width: 1199px) {


}

// This query targets desktop and larger devices.
@media (min-width: 1200px): {


}

